/*Start of Navbar section*/
*{
    font-family: 'poppins';
}

.container-1 {
    background: linear-gradient(
        115deg, white 50%, orange 50%
    );
    height: 100vh;
    padding-bottom: 5rem;
}
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.log-image {
    height: 40px;
}

.lg {
    color: yellow;
}

.nav-links {
    list-style: none;
    margin-right: 20px;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
    margin-right: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: black;
}

.cart {
    height: 15px;
    margin-right: 20px;
}
/*End of Navbar section*/
/*Rest of header section*/
.row-1 {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.text-container {
    box-sizing: border-box;
    width: 800px;
}

.bur {
    height: 500px;
}

.rs {
    font-size: 50px;
    margin:0px !important;
}

.sr {
    color: grey;
    font-size: 20px;
}

.btn {
    background-color: orange;
    color: white;
    border-style: none;
    border-radius: 25px 10px 0px 25px;
    padding: 15px;
    margin-left: 30px;
    margin-top: 60px;

}
/*End of header section*/

/*About section*/
.about {
    display: flex;
    background-color: rgb(128, 128, 128);
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.card {
    margin: 10px;
    border-style: solid;
    border-color: blue;
    border-radius: 5px;
    border-width: thin;
    text-align: center;
    padding: 15px;
}

#center-card {
    height: 410px;
}

.outer-card {
    height: 300px;
    margin-top: 50px;
}

.card-image {
    height: 100px;
}
/*End of about section*/
/*Menu section*/
.menu {
    padding-top: 60px;
    padding-bottom: 7rem;
    text-align: center;
}

.row {
    display: flex;
}

.card-imag {
    height: 200px;
}

.price {
    display: flex;
    justify-content: space-between;
}

.p-cart {
    height: 35px;
    background-color: #E1EBE6;
    padding: 10PX 25PX;
    border-radius: 20PX;
}
/*End of Menu section*/
/*Double decker section*/
.dd {
    display: flex;
    background-color: #dae8f7;
    padding-top: 8rem;
    padding-bottom: 6rem;
}

.dd-png {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative
}

.dd-1 {
    grid-column: 3 / span 12;
    grid-row: 3; 
    padding-top: 10%;
    z-index: 1;
  }
    
.dd-2 {
  grid-column: 4 / -1;
  grid-row: 3; 
}

.dd-images {
    height: 450px;
}
/*End of Double decker section*/
/*Discover more section*/
.dm {
    padding-top: 8rem;
    padding-bottom: 6rem;
    background-color: orange;
    display: flex;
    justify-content: space-between;
}

.svg {
    height: 50px;
}

.phone {
    margin-right: 30px;
}

.phone-image {
    margin: 20px;
}
/*End of discover more section*/





