/*Start of Navbar section*/
*{
    font-family: 'poppins';
}

.container-1 {
    background-color: rgb(214, 214, 214);
    height: 100vh;
}
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.lg {
    color: yellow;
}

.nav-links {
    list-style: none;
    margin-right: 20px;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
    margin-right: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: black;
}

.cart {
    height: 15px;
    margin-right: 20px;
}
/*End of Navbar section*/
/*Rest of header section*/
.row-1 {
    display: flex;
    align-items: center;
}

.text-container {
    box-sizing: border-box;
    width: 800px;
}

.bur {
    height: 500px;
}

.rs {
    font-size: 50px;
}

.sr {
    color: grey;
    font-size: 20px;
}

.btn {
    background-color: orange;
    color: white;
    border-style: none;
    border-radius: 10px 10px 0px 10px;
}
/*End of header section*/

.card-image {
    height: 25px;
}




