/*Navbar section*/
* {
    font-family: 'poppins';
}

.container-1 {
    background: linear-gradient(115deg, white 50%, orange 50%);
    height: 100vh;
    padding-bottom: 5rem;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.log-image {
    height: 40px;
}

.lg {
    color: yellow;
}

.nav-links {
    list-style: none;
    margin-right: 20px;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
    margin-right: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: black;
}

.cart {
    height: 15px;
    margin-right: 20px;
}

/*End of Navbar section*/
/*Rest of header section*/
.row-1 {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.text-container {
    box-sizing: border-box;
    width: 800px;
}

.bur {
    height: 500px;
}

.rs {
    font-size: 50px;
    margin: 0px !important;
}

.sr {
    color: grey;
    font-size: 20px;
}

.btn {
    background-color: orange;
    color: white;
    border-style: none;
    border-radius: 25px 10px 0px 25px;
    padding: 15px 30px;
    margin-left: 30px;
    margin-top: 60px;

}

/*End of header section*/

/*About section*/
.about {
    display: flex;
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-color: #dae8f7;
}

.card {
    margin: 10px;
    border-style: solid;
    border-color: grey;
    border-radius: 5px;
    border-width: thin;
    text-align: center;
    padding: 15px;
}

#center-card {
    height: 410px;
}

.outer-card {
    height: 300px;
    margin-top: 50px;
}

.card-image {
    height: 100px;
}

/*End of about section*/
/*Menu section*/
.menu {
    padding-top: 60px;
    padding-bottom: 7rem;
    text-align: center;
}

.menu-head {
    color: #f6B400;
}

.row {
    display: flex;
}

.carD {
    margin: 10px;
    padding: 15px;
    border-style: none;
    border-radius: 25px;
    box-shadow: 1px 2.5px 2.5px 1px rgb(185, 177, 177);
}

.card-imag {
    height: 200px;
}

.price {
    display: flex;
    justify-content: space-between;
}

.p-cart {
    height: 35px;
    background-color: #E1EBE6;
    padding: 10PX 25PX;
    border-radius: 20PX;
}

/*End of Menu section*/
/*Double decker section*/
.dd {
    display: flex;
    background-color: #dae8f7;
    padding-top: 8rem;
    padding-bottom: 6rem;
}

.texT-container {
    margin: 50px 10px;
}

.texT-container h2 {
    font-size: 40px;
}

.texT-container p {
    color: grey;
}

.dd-png {
    display: flex;
    margin-right: 20px;
    margin-left: 0px;
}

.dd-images {
    height: 450px;
}

/*End of Double decker section*/
/*Discover more section*/
.dm {
    padding-top: 8rem;
    padding-bottom: 6rem;
    background-color: orange;
    display: flex;
    justify-content: space-between;
}

.container-3 {
    margin-left: 40px;
}

.container-3 h2 {
    font-size: 40px;
}

.svg {
    height: 50px;
    margin: 10px;
}

.phone {
    margin-right: 50px;
    margin-left: 0px;
}

.phone-image {
    margin: 20px;
    height: 30rem;
}

/*End of discover more section*/
/*Footer links section*/
.footer-upper {
    justify-content: space-between;
    background-color: #dae8f7;
    display: flex;
    position: relative;
}

.logo-1 {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.combined {
    display: flex;
}

.f-links {
    align-items: center;
}

.sub-footer {
    list-style: none;
    margin-top: 0px;
}

.f-links a{
    text-decoration: none;
    color: black;
}

.f-links h5 {
    margin-bottom: 0px;
    margin-left: 40px;
}

.n-letter {
    margin-right: 30px;
}
.btn-1 {
    background-color: #f6B400;
    margin-left: 0px;
    height: 38px;
}

form input {
    margin-right: 0px;
    height: 35px;
}
/*End of footer links section*/
/*footer section*/
.footer {
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
}

.f-links {
    margin-top: 15px;
}

.icon {
    height: 20px;
}
/*End of footer section*/

